.cover__overlay  {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  min-height: calc(100vw * .625);
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
}

.cover__overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: .3;
  transition: opacity .3s ease;
}

.cover__overlay:hover::before {
    opacity: .8;
}

@media screen and (min-width: 1279px) {
    .cover__overlay  {
      min-height: 740px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
}
