.intro__title {
  margin: 0 0 40px 0;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1;
  color: #FFFFFF;
  max-width: 690px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
    margin: 0 16px 40px 0;
  }
}
